footer{

    background: $cor-secundaria;
    color: $branco;

    a{
        color: $branco;
        &:hover{
            color: $branco;
        }
    }

    h4{
        color: $cor-primaria;
        font-size: 19px;
        padding: 25px 0;        
    } 

    ul{

        li.ellipsis{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}