.produtos-compra{
    figure{
        margin: 0;
    }

    .produtos-conteudo{
        h1{
            font-size: 32px;
            margin: 0;
        }
        p{
            font-size: 16px;
        }
    }
}